*{
    margin: 0;
    padding: 0;
}
main{text-transform: uppercase;}
.clerfix {
    clear: both;
}
/*HEADER*/
.info-promo{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    position: relative;
    font: 600 20px 'Open Sans', sans-serif;
}
.info-promo p{
    padding: 10px;
}
/* Меню*/

.menu-block {
    position: absolute;
    z-index: 98;
    left: 0;
    width: 100%;
    background-color:rgba(133,185,228,0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    padding-left: 100px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-logo {
    border-right: 3px solid black;
    margin: 10px;
    padding-right: 20px;
}
.right-logo {
margin:  10px;
}
.trash {
    padding-right: 100px;
    padding-left: 50px;
}
.menu {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu li{
    display: inline-block;
    font: 600 20px 'Open Sans', sans-serif;
    color: white;
    padding-right: 20px;
}
.menu a{
    text-decoration: none;
    color: white;
}
.fa-shopping-cart{
    font-size: 40px;
}
.slider-text{
    width: 100%;
    position: absolute;
    top: 30%;
    color: white;
}
.slider-text h2{
    text-align: center;
    font: 149px 'BRUSHSTRIKE', sans-serif;
}
.slider-text h3 {
    text-align: center;
    font: 600 60px 'Bebas Neue Regular', sans-serif;
}
.slider-text p{
    text-align: right;
    font-size: 30px;
    padding-right: 30%;
}
.fa-sort-asc{

}
.fa-sort-desc{
    margin-left: 15px;
    border-top: 1px solid black;
    padding: 10px;
}


.slider{
    position: relative;
    width: 100%;
}
.slider-image>img{width: 100%}
.second-image {
    position: absolute;
    top: 0;
    width: 75%;
}
.second-image img{
    width: 100%;
}

/* Блок-возможности*/
.tech-features{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.features-text{
    width: 30%;
    font:50.32px 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 30px;
}
.features-image{
    float: right;
    width: 65%;
    padding-right: 30px;
}
.features-image img{
    width: 100%;
}

/* Безопасность*/
.performance-safety{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font:48px 'Open Sans ExtraBold', sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}
.performance-block {
    display: flex;
    justify-content: center;
    align-items: center;
}
.performance-block:first-child{
    padding-left: 100px;
    width: 29%;
}
.performance-block:last-child{
    padding-right: 100px;
    width: 18%;
}
.performance-text {
    padding-left: 30px;
}
/* Видео блок*/
.video-block{
    background-color: #F3F3F3;
    width: 100%;
    padding-top: 30px;
}
.video-info {
    float: left;
    padding-left: 100px;
}
.game-changer h2{
    font:60px 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.game-changer h3{
    font:700 20px 'Open Sans', sans-serif;
    padding-bottom: 20px;
}
.game-changer p{
    font:400 18px 'Open Sans', sans-serif;
    padding-bottom: 3px;
}
.price{
    border-left: 2px solid #E1E1E1;
    padding: 5px 0 5px 15px;
    margin: 10px 0 10px 0;
}
.price p{
    font:400 34px 'Open Sans', sans-serif;
    padding-bottom: 3px;
    color: #056CB6;
}
.button{
    width: 45%;
    font: 600 32px 'Myriad Pro';
    padding: 30px 50px 30px 50px;
    border: 3px solid #1877BB;
    border-radius: 50px;
    text-align: center;
}
.info-logo {
    padding: 20px 0 40px 20px;
}
.video{
    float: right;
    width: 50%;
    margin-right: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
}
.video img{
    width: 100%;
}

/* Проффесионалы */

.pros {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}
.pros-text{
    width: 100%;
    text-align: center;
    font: 60px 'Open Sans ExtraBold', sans-serif;
    background: linear-gradient(to right, #0E1757, #3888C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.pros-logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pros-logo img{
    padding-left: 1%;
    padding-right: 1%;
}
.pros-circle {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.circle{
    width: 15px;
    height: 15px;
    background: #4A91C8;
    display: inline-block;
    border: 1px solid #4A91C8;
    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}
.circle1{
    background: #0D6CB6;
}

/*Инстаграм*/
.instagram {
    width: 100%;
    position: relative;
    font-size: 0;
    color: white;
}
.instagram>img{width: 100%}
.nosweatco {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 14%;

}
.nosweatco p{
    font: 36px 'Open Sans ExtraBold',sans-serif;
    text-align: center;
}
.nosweatco h5{
    text-align: center;
    font-size: 50px;
}
.nosweatco img{
    width: 12.5%;
    padding: 0.5%;
}
.nosweatco-toprow, .nosweatco-downprow{
    width: 100%;
}

/* Линии*/

.buy{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.liners{
    width: 31%;
    margin: 1%;
    position: relative;
    vertical-align: middle;
    background: black;
}
.liners>img{width: 100%}
.name{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 10;
}
.name img{width: 100%}
.img-absolute{
    position: absolute;
    right: 0;
    top: 14%;
    z-index: 9;
    width: 52%;
}
.img-absolute img{width: 100%}
.liners-down-block{
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 10;
}
.liners-text {
    background: inherit;
    color: white;
    font: 500 58px 'ChunkFive';
    text-align: center;
}
.liners-buttom{
    background: blue;
    color: white;
    text-align: center;
    font:500 29px 'Open Sans';
    padding: 10px;
}

/*Большое видео*/
.delivered {
    width: 100%;
    position: relative;
    background: black;
    font-size: 0;
}
.delivered img{width: 100%}
.delivered-text{
    width: 100%;
    position: absolute;
    top: 33%;
    text-align: center;
}
.delivered-text h2{
    text-align: center;
    color: white;
    font: 60px 'Open Sans ExtraBold';
}
.delivered-text p{
    text-align: center;
    color: white;
    font: 400 20px 'Open Sans';
}
.delivered-icon img{
    width: 8%;
    padding-top: 20px;
}

/***************Подвал**************************/

footer{
    background: #0D6CB6;
    color: white;
    font: 400 13px 'Open Sans';
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: none;
}
footer h4{
    font: 700 14px 'Open Sans';
    text-transform: uppercase;
}
footer h2{
    font: 700 20px 'Open Sans';
    text-transform: uppercase;
}
.down-footer{
    width: 100%;
    background: #0D6CB6;
}
.down-footer a{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.year {
    float: left;
    margin-left: 30px;
}
.social_network{
    float: right;
    margin-right: 13%;
}
.social_network li{
    display: inline-block;
}
.top-footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
}

.right-top{
    width: 37%;
    border-bottom: 1px solid black;
}
.left-top{
    width: 37%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.about{
    width: 50%;
}
.about p{
    padding-bottom: 15px;
}
.addres div{
    display: inline-block;
}
.contact-information p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.addres p{
    padding-top: 10px;
    padding-right: 20px;
}
.addres{
    padding-top: 20px;
}
.location{
    width: 100%;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 5px;
    text-align: right;
}
.fa-location-arrow{
    color: #0D6CB6;
    background-color: white;
    font-size: 20px;
    padding: 2px 10px 2px 10px;
}
